CurrentTool {
    position: absolute;
    background-color: rgba( #3472e6, 0.8 );
    backdrop-filter: blur( 50px );
    border-radius: 10px;
    top: 100px;
    left: 100px;
    padding: 20px 50px;
    flex-direction: column;
    opacity: 0.0;


    &.active {
        opacity: 1.0;
    }

    .title {
        font-size: 40px;
        color: white;
        font-family: Poppins;
        font-weight: 800;
        mix-blend-mode: lighten;
        text-transform: uppercase;
    }

    .description {
        font-size: 14px;
        font-weight: normal;
        color: white;
        opacity: 0.8;
        font-family: Poppins;
        font-weight: 500;
        mix-blend-mode: lighten;
        text-transform: uppercase;
    }
}
