
rootpanel
{
	background-color: rgba( #333, 0 );
	transition: background-color 0.2s ease-in;
	transform-origin: 50% 50%;

	&.spawnmenuopen
	{
		transition: background-color 0.3s ease-out;
		background-color: rgba( #333, 0.9 );
	}

	&.devcamera
	{
		display: none;
	}
}

vitals
{
	position: absolute;
	bottom: 64px;
	left: 100px;
	font-size: 64px;
	color: #ff0;
	mix-blend-mode: lighten;
	font-family: Roboto;

	label
	{
		text-shadow: 0px 0px 20px #f70a;

		&.danger
		{
			color: #f00;
			text-shadow: 0px 0px 10px #f005;
		}
	}
}

roundtimer 
{
	position: absolute;
	bottom: 850px;
	left: 960px;
	font-size: 50px;
	color: #e6e6e6;
	mix-blend-mode: lighten;
	font-family: Roboto;
	background-image: url( /ui/tools/spawnicon.png );
	background-size: 100%;
	background-color: rgba( #4a4a4a, 0.3 );

	label {
        align-items: center;
        color: #ECECEC;
        font-size: 20px;
        text-shadow: 0px 2px rgba(#000,0.5);

        &.roundName {
            width: 50%;
			padding-bottom: 100px;
            text-align: right;
            left: 0;
        }

        &.timeLeft {
            padding-left: 50px;
            right: 0;
            text-align: left;
            width: 50%;
        }
    }

}

moneycounter
{
	position: absolute;
	bottom: 140px;
	left: 960px;
	font-size: 50px;
	color: #e6e6e6;
	mix-blend-mode: lighten;
	font-family: Roboto;
	opacity: 0;

	label {
        align-items: center;
        color: #0fd142;
        font-size: 40px;
        text-shadow: 0px 2px rgba(#000,0.5);

        &.moneyLabel {
            width: 50%;
			padding-bottom: 100px;
            text-align: right;
            left: 0;
        }

    }

	

}

.spawnmenuopen moneycounter {
    transition: all 0.2s ease-out;
    pointer-events: all;
    opacity: 1;
    transform: scale( 1 );
}

CurrentTool {
	position: absolute;
	background: linear-gradient(to right, rgba(black, 0.7), rgba(black, 0.0));
	top: 0px;
	left: 0px;
	padding: 20px;
	padding-left: 40px;
	padding-right: 40px;
	flex-direction: column;
	width: 560px;
	opacity: 0.0;

	&.active {
		opacity: 1.0;
	}

	.title {
		font-size: 60px;
		font-weight: bold;
		text-shadow: 4px 4px 10px black;
		color: white;
	}

	.description {
		padding-top: 5px;
		padding-left: 10px;
		font-size: 18px;
		font-weight: normal;
		text-shadow: 2px 2px 5px black;
		color: white;
		opacity: 0.8;
	}
}



ammo
{
	position: absolute;
	bottom: 64px;
	right: 100px;
	font-size: 64px;
	color: #ff0;
	mix-blend-mode: lighten;
	font-family: Roboto;

	label
	{
		text-shadow: 0px 0px 20px #f70a;

		&.danger
		{
			color: #f00;
		}
	}
}

InventoryBar {
	position: absolute;
	width: 100%;
	bottom: 48px;
	justify-content: center;
	align-items: flex-end;
}

InventoryIcon {
	width: 80px;
	height: 80px;
	border: 1px solid rgba( white, 0.4 );
	background-color: rgba( #4d98ce, 0.0 );
	margin: 0px 2px;
	position: relative;
	transition: all 0.2s ease-in-out;
	margin-top: 10px;
	font-family: poppins;

	.item-name {
		padding: 5px;
		color: white;
		text-align: center;
		left: 0;
		right: 0;
		font-size: 11px;
		position: absolute;
		bottom: 0;
		opacity: 0.5;
		transition: all 0.5s ease-in-out;
	}

	.slot-number {
		font-size: 15px;
		color: white;
		font-weight: 500;
		opacity: 0.1;
		position: absolute;
		top: 1px;
		right: 5px;
	}

	.icon {
		border-radius: 16px;
		color: rgba(#fff, 0.5);
		text-align: center;
		cursor: pointer;
		width: 100%;
		height: 100%;
		background-position: center;
		background-size: cover;
		background-color: rgba(black, 0.1);
		background-image: url(/ui/icon/default.png);
	}

		&.active {
		background-color: rgba( #4d98ce, 0.5 );
		border: 1px solid rgba( white, 0.8 );
		transition: all 0.1s ease-out;

		.item-name {
			opacity: 1;
			transition: all 0.1s ease-out;
		}
	}
}

.dm_pistol .icon
{
	background-image: url( /ui/weapons/dm_pistol.png );
}

.dm_shotgun .icon
{
	background-image: url( /ui/weapons/dm_shotgun.png );
}

.dm_smg .icon
{
	background-image: url( /ui/weapons/dm_smg.png );
}

.dm_crossbow .icon, .crossbow_bolt .icon
{
	background-image: url( /ui/weapons/dm_crossbow.png );
}