Health {
    position: absolute;
    left: 40px;
    bottom: 50px;
    width: 300px;
    height: 100px;
    border: 0px, white;
    border-radius: 25px;
    background-color: rgba(51, 153, 255, 0.5);
    backdrop-filter: blur(5px);
    justify-content: center;
    align-items: center;

    .heart {
        z-index: 5;
        top: 5px;
        left: 150px;
        width: 64px;
        height: 64px;
        color: white;
        font-family: Material Icons;
        font-size: 20px;
    }

    .money {
        width: 100px;
        top: 15px;
        right: 15px;
        height: 15px;
        color: rgb(255, 128, 0);
        text-stroke: 2px, white;
        font-size: 27px;
        font-family: Poppins;
        font-weight: bolder;
    }

    .avatar {
        right: 80px;
        background-size: cover;
        width: 72px;
        height: 72px;
        border: 4px, white;
        border-radius: 100%;
    }

    .backBar {
        position: absolute;
        background-color: grey;
        width: 60%;
        left: 35%;
        height: 30px;
        bottom: 15%;
        //top: 1%;
        border-radius: 20px;
    }

    .healthLabel {
        //position: absolute;
        font-family: poppins;
        font-weight: bold;
        font-size: 20px;
        color: white;
        left: 130px;
        bottom: 9%;
    }

    .whiteBar {
        position: absolute;
        background-color: white;
        //left: 25%;
        width: 100%;
        height: 30px;
        border-radius: 20px;
        transition: all 0.15s ease-in;
    }

    .healthBar {
        position: absolute;
        background-color: limegreen;
        width: 100%;
        //left: 25%;
        height: 30px;
        border-radius: 20px;
    }
}
