PostGameUI {
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 100%;
    opacity: 0;
    .background {
        right: 275px;
        bottom: 50px;
        width: 70%;
        height: 60%;
        background-color: rgba( #111, 0.4 );
        backdrop-filter: blur( 100px );
        border-radius: 50px;

        .toppanel {
            
            

        }

        .awardspanel {
            
        }

    }
}
