Timer {
    width: 200px;
    height: 100px;
    background-image: url("ui/hud/timer-bg.png");
    background-size: cover;
    //border: 1px, white;
    //border-radius: 10px;
    top: 5px;
    left: 80%;
    flex-direction: column;
    justify-content: center;
    align-items: center;


    .roundname {
        color: rgb(255, 128, 0);
        text-shadow: -3px -2px 1px white, 4px 2px 2px white;
        font-family: Poppins;
        font-weight: bolder;
        font-size: 25px;
    }

    .gametime {
        color: rgb(255, 128, 0);
        text-shadow: -3px -2px 1px white, 4px 2px 2px white;
        font-family: Poppins;
        font-weight: bolder;
        font-size: 25px;
    }
}
