TeamsTab {
    display: none;
    justify-content: center;
    align-items: center;

    &.active {
        display: flex;
        opacity: 1;
    }

    .teamtabs {
        bottom: 330px;
        //position: absolute;
        left: 30px;
        width: 95%;
        height: 5%;
        flex-direction: row;
        justify-content: center;
        align-items: center;

        .teambutton {
            //border: 1px, white;
            border-radius: 10px;
            width: 100%;
            height: 100%;
            justify-content: center;
            align-items: center;
            //transition: all, 0.2s;
            background-color: rgba(white, 0.2);
            margin-left: 5px;
            margin-right: 5px;

            &.active {
                background-color: rgba(white, 0.4);
            }

            &:hover {
                cursor: pointer;
                background-color: rgba(white, 0.3);
            }

            .label {
                text-align: center;
                font-family: poppins;
                font-weight: bolder;
                font-size: 20px;
                color: white;
            }
        }
    }

    .yourteam {
        display: none;
        left: 72px;
        top: 65px;
        position: absolute;
        width: 93%;
        height: 85%;
        //overflow: scroll;
        //background-color: white;
        align-items: center;
        justify-content: center;

        &.active {
            display: flex;
            opacity: 1;
        }

        .teamheader {
            bottom: 260px;
            //background-color: white;
            width: 80%;
            height: 10%;
            justify-content: center;
            align-content: center;
            flex-direction: row;

            .teamname {
                text-align: center;
                font-family: poppins;
                font-weight: bolder;
                font-size: 20px;
                color: white;
                margin-right: 10px;
            }

            .leaveteam {
                justify-content: center;
                align-content: center;
                margin-left: 10px;
                height: 30px;
                width: 80px;
                border-radius: 15px;
                background-color: rgba(white, 0.2);

                &:hover {
                    cursor: pointer;
                    background-color: rgba(white, 0.4);
                }

                .label {
                    color: white;
                    font-size: 20px;
                    font-weight: bolder;
                    font-family: poppins;
                }
            }
        }


        .memberlist {
            position: absolute;
            //background-color: white;
            height: 75%;
            width: 100%;
            overflow: scroll;
            align-items: center;
            justify-content: flex-start;
            flex-direction: column;

            .teammember {
                margin-top: 10px;
                border-radius: 15px;
                background-color: rgba(white, 0.4);
                width: 50%;
                height: 10%;
                align-items: center;
                justify-content: center;

                .avatar {
                    //margin-left: 10px;
                    height: 36px;
                    width: 36px;
                    border-radius: 100px;
                }

                .name {
                    margin-left: 25px;
                    color: white;
                    font-size: 20px;
                    font-weight: bolder;
                    font-family: poppins;
                }

                .givemoney {
                    margin-left: 100px;
                    justify-content: center;
                    align-content: center;
                    margin-left: 10px;
                    height: 30px;
                    width: 80px;
                    border-radius: 15px;
                    background-color: green;

                    &:hover {
                        cursor: pointer;
                        background-color: lawngreen;
                    }

                    .label {
                        color: white;
                        font-size: 20px;
                        font-weight: bolder;
                        font-family: poppins;
                    }
                }

                .kick {
                    margin-left: 100px;
                    justify-content: center;
                    align-content: center;
                    margin-left: 10px;
                    height: 30px;
                    width: 80px;
                    border-radius: 15px;
                    background-color: red;

                    &:hover {
                        cursor: pointer;
                        background-color: #ff6262;
                    }

                    .label {
                        color: white;
                        font-size: 20px;
                        font-weight: bolder;
                        font-family: poppins;
                    }
                }
            }
        }
    }

    .jointeam {
        display: none;
        left: 72px;
        top: 65px;
        position: absolute;
        width: 93%;
        height: 85%;
        overflow: scroll;
        //background-color: white;

        &.active {
            display: flex;
            opacity: 1;
        }

        justify-content: flex-start;
        align-items: center;
        flex-direction: column;
    }
}
